{% extends 'layout.html' %}
{% block title %}管理员信息{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-align-center" aria-hidden="true"></span> 管理员信息
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                {# novalidate 是校验#}
                <form class="form-horizontal" method="post" novalidate>
                    {% csrf_token %}
                    <div>
                        {{ admin_form }}
                    </div>
                    <button type="submit" class="btn btn-primary" value="提交">提交</button>
                </form>
            </table>
        </div>
    </div>
{% endblock %}
